# Entornos virtuales
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db